

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


    #site-header h1 a { 
  display:block;	
  text-indent:-9999px;    
  width:306px; height:123px;
  background:url(logo.png) no-repeat left top;
margin-top: 5px;
}




#site-wrapper{background-color:aqua;
height:130px;

}


#site-header{margin:0 auto;
				width:80%;
}


header h1{float:left;width:70%;}

#top-nav
{float:right;width:30%;}


#menu-wrapper{
	background-color:brown;
	clear:both;

	
}



#main-menu
				{margin:0 auto;
				width:80%;}



#main-menu li
{float:left;
background-color: brown;

}





#content-wrapper{
clear:both;}

#content{margin:0 auto;
		width:80%;}




#page{float:left;
width:60%;
margin-right:2.5%;
padding-bottom: 40px;}



#sidebar{float:left;
width:30%;
margin-right:2.5%;
}


#footer-wrapper
{background-color: brown;
clear:both;
height:110px;
}


#site-footer{margin:0 auto;
				width:80%;}


#footer-contact
{float:left;
width:65%;}



#footer-follow
{float:right;
width:35%;

}


#footer-follow li
{float:left;}



#top-nav a
{font-family: helvetica;
	text-decoration: none;
font-size: .5em;
color: brown;

}




#main-menu li a
{font-family: helvetica;
	font-weight: bold;
text-transform: uppercase;
font-size: .75em;
color: white;
text-decoration: none;
padding-right:50px;
padding-top: 5px;
padding-bottom: 5px;}



#page h1
{font-family: helvetica;
	font-weight: bold;
	font-size: 1.5em;
color: brown;
padding-top: 50px;
padding-bottom: 10px;
text-transform: uppercase;
}


#page h2
{font-family: helvetica;
	font-weight: bold;
	font-size: .75em;
color: brown;
text-transform: uppercase;}


#page p
{font-family: helvetica;
	font-size: .75em;
line-height:1.5em;
padding-bottom:1em;
margin-right: 100px;}




#sidebar 
{padding-top: 50px;}

#sidebar h1 
{font-family: helvetica;
	font-weight: bold;
	font-size: .75em;
color: brown;
text-transform: uppercase;}



#sidebar li a
	{font-family: helvetica;
font-size: .5em;
color: brown;
text-decoration: none;
}

#sidebar img
{max-width:250px;
padding-top: 5px;
}




#footer-contact h1
{font-family: helvetica;
	font-weight: bold;
	font-size: .75em;
color: white;
text-transform: uppercase;
padding-top: 10px;
padding-bottom: 5px;}

#footer-contact p
{font-family: helvetica;
	font-size: .75em;
line-height:1.5em;
color:white;
max-width: 200px;}



#footer-follow h1
{font-family: helvetica;
	font-weight: bold;
	font-size: .75em;
color: white;
text-transform: uppercase;
padding-top: 10px;
padding-bottom: 5px;}


#footer-follow img
{max-width:30px;}



 
 










